<% include partials/head.ejs %>
<body>
<div class="col-sm-8 col-sm-offset-2"/>
	<div class="jumbotron text-center">
		<h1>Promo Amigo Login</h1>
		<p class="lead">Login com redes sociais Promo Amigo</p>

		<a href="/login-promo/login" class="btn btn-default"><span class="fa fa-sign-in"></span> Login</a>
		<a href="/login-promo/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
		<a href="/login-promo/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
		<a href="/login-promo/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
		<a href="/login-promo/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
	</div>
</body>
</html>
