<!DOCTYPE html>
<html>
	<head>
		<title>Passport-Facebook Example</title>
	</head>
	<body>
		<% if (!user) { %>
			<p>
			<a href="/login-promo">Home</a> |
			<a href="/login-promo/login">Log In</a>
			</p>
		<% } else { %>
			<p>
			<a href="/login-promo">Home</a> |
			<a href="/login-promo/account">Account</a> |
			<a href="/login-promo/logout">Log Out</a>
			</p>
		<% } %>
		<%- body %>
	</body>
</html>
